<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="layouts/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
	<title>List Users</title>
</head>
<body>
		
	<div layout:fragment="content">
	
    	<table class="table table-striped">
			<thead> 
				<tr> 
					<th>#</th> 
					<th>Username</th>
					<th>Full Name</th>
					<th>Email</th> 
					<th>Roles</th>
				</tr> 
			</thead>
			<tbody>
				<tr th:each="user, iterationStatus : ${users}">
					<td th:text="${iterationStatus.count}">1</td>
					<td th:text="${user.name}">Userame</td>
					<td th:text="${user.fullName}">Last Name</td>
					<td th:text="${user.email}">Email Address</td>
					<td ><span th:each="role,iterStatRole : ${user.roles}"
							   th:text="${iterStatRole.last}?${role.name}:${role.name} + ', '">
                        </span>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
		
</body>
</html>